@charset "utf-8";

@import "./variables.scss";
// Pretendard
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css");

// 공통 적용
body {
  width: 100%;
  min-height: 100vh;

  font-family: "Pretendard";
  font-style: normal;

  color: $font_color_main;
  background-color: $background_color_main;

  display: flex;
  flex-direction: column;
  align-items: center;

  // 스크랩 방지
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  main {
    flex-grow: 1;
  }
}

h1 {
  font-size: $font_size_xxxl;
}
h2 {
  font-size: $font_size_xxl;
}
h3 {
  font-size: $font_size_xl;
}
h4 {
  font-size: $font_size_l;
}
h5 {
  font-size: $font_size_m;
}

b {
  font-weight: $font_weight_700;
}

a {
  color: $font_color_main;
}

img {
  display: block;
}
