@charset "utf-8";

@import "./variables.scss";

// popup
#popup_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5); /* 배경을 어둡게 표시 */

  &.closePopup {
    display: none;
  }

  #popup_content {
    width: 100%;
    max-width: 40rem;

    border-radius: 5px;
    margin: 2rem;
    padding: 2rem;

    background-color: $background_color_main;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;

    // 닫기 버튼 X
    #close_popup {
      cursor: pointer;
      border: 0;
      background-color: transparent;

      display: flex;
      align-self: flex-end;

      i {
        font-size: $font_size_l;
      }
    }

    // 내용
    p {
      font-size: $font_size_s;
      margin: 2rem 0;
      line-height: 2.6rem;
      text-align: center;
    }

    // 오늘 하루 보지 않기 버튼
    #today_close_popup {
      cursor: pointer;
      color: $font_color_sub;
      border: none;
      background-color: transparent;

      display: flex;
      align-self: flex-end;
    }
  }
}

// header
header {
  // 크기 조정
  width: 100%;
  height: fit-content;

  // 배경, 선
  background-color: white;
  border-bottom: 1px solid $border_color_main;
  box-sizing: border-box;

  #header_section {
    width: 100%;
    max-width: 800px;

    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

    // header logo
    #header_logo {
      // main shortcut
      a {
        // icon
        i {
          font-size: $font_size_xl;
          color: $font_color_sub;

          transition: all 0.3s ease;

          &:hover {
            color: $font_color_main;
          }
        }
      }
    }

    // shortcut
    #shortcut_nav {
      width: fit-content;
      height: 2.4rem;

      // 바로가기 그룹
      ul {
        height: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 0 2rem;

        overflow: hidden;

        // 바로가기 리스트
        li {
          height: 100%;

          a {
            display: inline-block;
            font-size: $font_size_s;
            line-height: 2.4rem;

            color: #868e96;
            white-space: nowrap;

            transition: all 0.3s ease;

            &:hover {
              color: #2a3037;
            }
          }
        }
      }
    }
  }
}

// footer
footer {
  width: 100%;
  height: 2.5rem;

  background-color: $background_color_footer;
  color: rgba(255, 255, 255, 0.5);

  display: flex;
  justify-content: space-evenly;

  white-space: nowrap;

  // copyright
  address {
    font-size: $font_size_xxxs;
    line-height: 2.5rem;

    margin: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // icons8
  p {
    font-size: $font_size_xxxs;
    line-height: 2.5rem;

    margin: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
