@charset "utf-8";
@import "./responsive.scss";

// chrome browser 최소 폰트 크기 10px
// 타이틀 18pt ~ 32pt
// 본문 16pt ~ 18pt
// 캡션 10pt ~ 12pt

// html font size
@include desktop {
  :root {
    font-size: 10px; // 10px === 1rem
  }
}
@include tablet {
  :root {
    font-size: 9px;
  }
}
@include mobile {
  :root {
    font-size: 8px;
  }
}

// font size
$font_size_xxxl: 3.2rem;
$font_size_xxl: 2.8rem;
$font_size_xl: 2.4rem;
$font_size_l: 2rem;
$font_size_m: 1.8rem;
$font_size_s: 1.6rem;
$font_size_xs: 1.4rem;
$font_size_xxs: 1.2rem;
$font_size_xxxs: 1rem;

// font weight
$font_weight_100: 100;
$font_weight_200: 200;
$font_weight_300: 300;
$font_weight_400: 400;
$font_weight_500: 500;
$font_weight_600: 600;
$font_weight_700: 700;
$font_weight_800: 800;
$font_weight_900: 900;

// background color
$background_color_main: #fafafa;
$background_color_sub: #f1f3f5;
$background_color_footer: #2a3037;

// font color
$font_color_main: #2a3037;
$font_color_sub: #868e96;

// font point color
$font_point_color_main: #566fee;
$font_point_color_sub: #425ad5;

// border color
$border_color_main: #dee2e6;
