/**
 * @ File Name: common.scss
 * @ Author: 박다윗 (daxxx2030@gail.com)
 * @ Last Update: 2022-10-10 17:05:00
 * @ Description: 공통 적용 CSS
 */
@charset "utf-8";

// scss import
@import "./reset.scss";
@import "./variables.scss";
@import "./common.scss";
@import "./inc.scss";

// Hover Library import
@import url("../../../node_modules/hover.css/css/hover-min.css");

// 공연 상세 검색, 지도, 검색 결과
main {
  width: 100%;
  min-width: 500px;

  #searchDiv {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid $line;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 100;

    background-color: white;

    nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      #search_title {
        font-weight: $fw_b;
        line-height: $h1;
        color: $fc_main;
      }

      a {
        font-size: 14px;
        font-weight: $fw_b;
        color: $fc_sub;

        opacity: 0.5;
        transition: 0.3s all;

        display: flex;
        align-items: center;
        margin: 5px 0 20px;

        &:hover {
          color: $fc_main;
          opacity: 1;
        }

        i {
          font-size: 10px;
          margin-left: 3px;
        }
      }
    }

    // 공연 상세 검색
    #search_form {
      width: 100%;

      .search_fieldset {
        width: 100%;
        display: flex;
        justify-content: center;

        // 현재 위치 설정 버튼
        #location_btn {
          cursor: pointer;
        }

        // 검색어 입력란
        #input_search_query {
          width: 250px;
        }

        // 검색버튼
        #submit_btn {
          cursor: pointer;

          #search_icon {
            display: none;

            &.active {
              display: block;
            }
          }

          // loading
          #loading_icon_on_submit_btn {
            width: 14px;
            height: 14px;
            display: none;
            background: url(../img/loading-icon.gif) no-repeat center/cover;

            z-index: 1000;

            &.active {
              display: block;
            }
          }
        }
      }
    }
  }

  // 검색 결과
  #performance_search_results {
    width: 100%;
    margin: 30px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    #performance_search_results_skeleton {
      width: 1200px;
      position: relative;

      display: flex;
      flex-wrap: wrap;
      gap: 30px 50px;

      #backgroundGradient {
        width: 1200px;
        height: 682px;
        position: absolute;
        z-index: 10;
        background-image: linear-gradient(transparent 70%, $bg_main 100%);
      }

      .articleSkeleton {
        width: 200px;

        display: flex;
        flex-direction: column;
        gap: 4px;

        .posterSkeleton {
          width: 200px;
          height: 250px;

          background-color: #dcdee1;
          opacity: 0.3;
        }

        .titleSkeleton {
          width: 200px;
          height: 18px;

          background-color: #dcdee1;
          opacity: 0.3;
        }

        .venueSkeleton {
          width: 200px;
          height: 14px;

          background-color: #dcdee1;
          opacity: 0.3;
        }

        .genreSkeleton {
          width: 200px;
          height: 14px;

          background-color: #dcdee1;
          opacity: 0.3;
        }

        .periodSkeleton {
          width: 200px;
          height: 14px;

          background-color: #dcdee1;
          opacity: 0.3;
        }
      }
    }

    #performanceSection {
      width: 1200px;

      display: flex;
      flex-wrap: wrap;
      gap: 30px 50px;

      #no_results_div {
        width: 100%;
        height: calc(100vh - 346px);

        display: flex;
        justify-content: center;
        align-items: center;

        #no_results_a {
          font-size: 16px;
        }
      }

      #performanceArticle {
        width: 200px;

        display: flex;
        flex-direction: column;
        gap: 4px;

        .posterImg {
          width: 200px;
          height: 250px;
        }

        .noImgDiv {
          width: 200px;
          height: 250px;
          border: 1px solid $fc_sub;
          box-sizing: border-box;

          .noImg {
            display: block;
            font-size: 40px;
            line-height: 250px;

            color: $fc_sub;
            text-align: center;
          }
        }

        .titleA {
          display: block;
          width: 200px;

          font-weight: $fw_b;
          font-size: 18px;

          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .venueA {
          font-size: 14px;
        }

        .genreSpan {
          font-size: 14px;
        }

        .periodSpan {
          font-size: 14px;
        }
      }
    }
  }

  #more_btn {
    width: 100px;
    height: 30px;
    margin: 0 auto 30px;
    cursor: pointer;

    display: none;
    position: relative;

    #more_icon {
      font-size: 25px;
      color: #2a3037;

      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &.active {
        display: block;
      }
    }

    // loading
    #loading_icon_on_more_btn {
      width: 24px;
      height: 24px;
      display: none;

      background: url(../img/loading-icon.gif) no-repeat center/cover;
      z-index: 1000;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &.active {
        display: block;
      }
    }
  }
}
