/**
 * @ File Name: common.scss
 * @ Author: 박다윗 (daxxx2030@gail.com)
 * @ Last Update: 2022-10-10 17:05:00
 * @ Description: 공통 적용 CSS
 */
@charset "utf-8";

// scss import
@import "./reset.scss";
@import "./variables.scss";
@import "./responsive.scss";
@import "./common.scss";
@import "./inc.scss";

// Hover Library import
@import url("../../../node_modules/hover.css/css/hover-min.css");

// 공연 상세 검색, 지도, 검색 결과
main {
  width: 1200px;
  min-width: 500px;
  margin: 0 auto;

  #search_title_div {
    display: flex;
    justify-content: center;
    align-items: baseline;

    #search_title {
      text-align: center;
      font-weight: $fw_b;
      color: $fc_main;
      margin: 0 15px;
    }

    a {
      font-size: 16px;
      font-weight: $fw_b;
      color: $fc_sub;
      opacity: 0.5;
      transition: 0.3s all;

      &:hover {
        color: $fc_main;
        opacity: 1;
      }

      i {
        font-size: 14.5px;

        &:first-child {
          margin-right: 3px;
        }
        &:last-child {
          margin-left: 3px;
        }
      }
    }
  }

  // 공연 상세 검색
  #search_form {
    width: 100%;
    margin-bottom: 15px;

    .search_fieldset {
      width: 100%;
      display: flex;
      justify-content: center;

      #input_search_query {
        width: 250px;
      }
    }
  }

  // 검색버튼
  #submit_btn {
    cursor: pointer;
  }
}

// 위로 가기 버튼
#going_up {
  width: 10vw;
  font-size: 3em;
  text-align: center;
  color: gray;
  z-index: 999;
  position: fixed;
  bottom: 50px;
  right: 0;
  &:hover {
    color: $pc_main;
  }
  opacity: 0;
  transition: 1s;
}

// 순서 안내 컬러
.stepColor {
  background-color: $pc_main !important;
}

// 검색 결과
#output_section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  article {
    width: 200px;
    height: 325px;
    margin: 0 1% 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .posterImg {
      width: 200px;
      height: 250px;
    }

    .titleA {
      display: block;
      width: 200px;

      font-weight: $fw_b;
      font-size: 18px;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .venueA {
      font-size: 14px;
    }

    .genreSpan {
      font-size: 14px;
    }

    .periodSpan {
      font-size: 14px;
    }
  }
}

// loading
#loading {
  width: 100px;
  height: 100px;
  background: url(../img/loading.gif) no-repeat center/cover;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  z-index: 99999999;
  display: none;
}

#loading.active {
  display: block;
}
