/**
 * @ File Name: style.scss
 * @ Author: 박다윗 (daxxx2030@gail.com)
 * @ Last Update: 2022-10-10 17:05:00
 * @ Description: index Style CSS
 */
@charset "utf-8";

// scss import
@import "./reset.scss";
@import "./responsive.scss";
@import "./common.scss";
@import "./inc.scss";

// Hover Library import
@import url("../../../node_modules/hover.css/css/hover-min.css");

// index.html
// header와 footer 사이 main
main {
  width: 100%;
  height: auto;
  // 텍스트 정렬
  text-align: center;
  // 블록 정렬
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // main search icon 애니메이션
  #search {
    font-size: 24px;
    // search icon animation 설정
    animation-name: search;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
  // search animation
  @keyframes search {
    0% {
      transform: translate(-50%, 0);
    }
    30% {
      transform: translate(5%, 20%);
    }
    70% {
      transform: translate(-70%, 35%);
    }
    100% {
      transform: translate(-50%, 0);
    }
  }
  // 메인 타이틀 section
  #main_title {
    // search icon과 간격 h1
    #title {
      margin: 10px 0 0 0;
    }
    // 서브 타이틀 h5
    #sub_title {
      font-weight: $fw_m;
      color: $fc_sub;
    }
  }

  // 오늘의 공연
  #main_today {
    // 오늘의 공연 포스터 (open api json data)
    #today {
      display: flex;
      // 전체 이미지의 상하 padding
      padding: 20px 0 20px;

      a {
        display: block;
        width: 200px;
        height: 251.19px;

        img {
          width: 100%;
          height: 251.19px;

          padding: 10px;
          box-sizing: border-box;

          object-fit: fill;
        }
      }
    }
  }

  // 검색 버튼
  #search_page_btn_sec {
    width: 100%;

    #search_page_btn_ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      // 공연 추천 페이지 이동 버튼
      #recommendBtn {
        width: 422px;
        height: 50px;
        background-color: $pc_main;
        transition: all 0.3s ease;

        a {
          display: block;
          width: 100%;
          height: 100%;
          line-height: 50px;
          color: white;
        }

        &:hover {
          background-color: $pc_main_hover;
        }
      }

      // 공연, 공연장 검색 페이지 이동 버튼
      .searchPageBtn {
        width: 422px;
        height: 50px;

        &:nth-child(2) {
          margin-top: 10px;
        }

        a {
          display: inline-block;
          line-height: 50px;
          color: $fc_sub;
          transition: all 0.3s ease;

          &:hover {
            color: $pc_main;
          }
        }
      }
    }
  }
}

// // 태블릿 반응형웹
// @include tablet {
//   body {
//     main {
//       margin: 48px 0;
//       // 검색 버튼
//       #main_button {
//         ul {
//           li {
//             width: 41%;
//           }
//         }
//       }
//     }
//   }
// }

// // 모바일 반응형웹
// @include mobile {
//   header {
//     #shortcut_nav {
//       ul {
//         li:nth-child(n + 2) {
//           display: none;
//         }
//       }
//     }
//   }
//   main {
//     min-width: 400px;
//     #search {
//       font-size: $h1_m;
//     }
//     #main_title {
//       b {
//         #title {
//           font-size: $h1_m;
//           line-height: 45px;
//           margin: 8px 0 0 0;
//         }
//       }
//       #sub_title {
//         font-size: $fs_l;
//         line-height: 20px;
//       }
//     }
//     #main_today {
//       #today {
//         display: flex;
//         justify-content: space-evenly;
//         flex-wrap: wrap;
//         padding: 15px 30px;
//         box-sizing: border-box;
//         img {
//           width: 20%;
//           padding: 5px;
//           box-sizing: border-box;
//           object-fit: cover;
//         }
//         img:nth-child(n + 11) {
//           display: none;
//         }
//       }
//     }
//     #main_button {
//       ul {
//         li {
//           min-width: 220px;
//           max-width: 41%;
//           height: 40px;
//           a {
//             font-size: $fs_l;
//             line-height: 40px;
//           }
//         }
//         #search_page {
//           margin-top: 0;
//         }
//       }
//     }
//   }
//   footer {
//     address {
//       text-overflow: ellipsis;
//       overflow: hidden;
//       white-space: nowrap;
//       padding: 0 20px;
//     }
//   }
// }
